#title {
    text-align: center;
}
#image {
display: block;
margin-left: auto;
margin-right: auto;
width: 50%;
height: 630px;
border-radius: 25%;
border: 10px solid rgb(71, 98, 216);
}
#firstPara {
  text-align: center;
  color: rgb(53, 34, 124);
  font-weight: bold;
  font-style: italic;
}
ul {
  display: table;
  margin: 0 auto;
  text-align: left;
margin: 40px;
} 
#tribute-link {
font-style: oblique;
font-weight: bold;
color: #ad1e74;
font-size: 27px;
margin: 399px;
text-decoration: none;
}
#story {
font-weight: bolder;
font-family: "pacifico", sans-serif;
font-size: 30px;
color: rgb(25 53 154);
padding: 41px;
margin: 20px;
text-align: center;
border:4px solid rgb(77, 6, 71);

}
#tribute-link:hover {
  color: rgb(202, 152, 13);
}
body {
  background-color: rgb(241, 241, 241);
}
#img-caption {
  text-align: center;
}
li:hover {
  color: rgb(250, 8, 8);
}